<form {{action "open" secret on="submit"}}>
  {{input value=secret}}
  <button>Save</button>
</form>

{{#if isLoading}}
  <p>loading</p>
{{else}} {{#if marketplace}}
  <h1>{{marketplace.name}}</h1>
  <hr/>

  {{view apiKeysTable content=marketplaceApiKeys classNames="table table-bordered"}}
  <hr/>
  {{view "balanced_kit.description_list" data=marketplace dataTemplate="marketplace"}}
{{/if}} {{/if}}
